# Proyecto cineteca

## Visualización inicial de nuestros datos

In [1]:
# Importamos las librerias a usar
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sqlalchemy import create_engine

In [61]:
# Definimos nuestros datos en df_raw
df_raw = pd.read_csv('/content/cinemaTicket_Ref.csv')

In [62]:
# Vista inicial de los datos
df_raw.head()

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day
0,1492,304,3900000,26,0,4,4.26,150000.0,26,610.328638,2018-05-05,5,2,5
1,1492,352,3360000,42,0,5,8.08,80000.0,42,519.801980,2018-05-05,5,2,5
2,1492,489,2560000,32,0,4,20.00,80000.0,32,160.000000,2018-05-05,5,2,5
3,1492,429,1200000,12,0,1,11.01,100000.0,12,108.991826,2018-05-05,5,2,5
4,1492,524,1200000,15,0,3,16.67,80000.0,15,89.982004,2018-05-05,5,2,5

In [63]:
# Información inicial de los datos
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142524 entries, 0 to 142523
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   film_code     142524 non-null  int64
 1   cinema_code   142524 non-null  int64
 2   total_sales   142524 non-null  int64
 3   tickets_sold  142524 non-null  int64
 4   tickets_out   142524 non-null  int64
 5   show_time     142524 non-null  int64
 6   occu_perc     142399 non-null  float64
 7   ticket_price  142524 non-null  float64
 8   ticket_use    142524 non-null  int64
 9   capacity      142399 non-null  float64
 10  date          142524 non-null  object
 11  month         142524 non-null  int64
 12  quarter       142524 non-null  int64
 13  day           142524 non-null  int64
dtypes: float64(3), int64(10), object(1)
memory usage: 15.2+ MB

In [64]:
# Obtención de valores_faltantes
valores_faltantes = df_raw.isna().sum()
valores_faltantes

film_code         0
cinema_code       0
total_sales       0
tickets_sold      0
tickets_out       0
show_time         0
occu_perc       125
ticket_price      0
ticket_use        0
capacity        125
date              0
month             0
quarter           0
day               0
dtype: int64

In [65]:
# Obtención de los valores duplicados
valores_duplicados = df_raw.duplicated().sum()
valores_duplicados

106

## Limpieza de nuetros datos

In [66]:
# Eliminamos los datos que se repiten
data_cleaned = df_raw.drop_duplicates()

In [67]:
# Eliminamos los datos que no tenían valores
data_cleaned = data_cleaned.dropna(subset = ['occu_perc']) # Borramos sin datos

In [68]:
# Volvemos a comprobar
data_cleaned.isna().sum()

film_code       0
cinema_code     0
total_sales     0
tickets_sold    0
tickets_out     0
show_time       0
occu_perc       0
ticket_price    0
ticket_use      0
capacity        0
date            0
month           0
quarter         0
day             0
dtype: int64

In [69]:
valores_duplicados = data_cleaned.duplicated().sum()
valores_duplicados

0

In [70]:
## Hubo un error en los datos y se aumentaron ceros, los eliminamos
data_cleaned['ticket_price'] = data_cleaned['ticket_price'].apply(lambda x: x/1000)
data_cleaned['total_sales'] = data_cleaned['total_sales'].apply(lambda x: x/1000)

In [71]:
# Redondeamos a el número más cercano
data_cleaned['occu_perc'] = data_cleaned['occu_perc'].round() / 100
data_cleaned['capacity'] = data_cleaned['capacity'].round()

In [72]:
data_cleaned['film_code'].unique()

array([1492, 1567, 1497, 1498, 1494, 1486, 1496, 1511, 1563, 1589, 1566,
       1550, 1499, 1551, 1558, 1565, 1568, 1562, 1512, 1575, 1495, 1471,
       1480, 1559, 1570, 1584, 1587, 1484, 1553, 1573, 1571, 1483, 1552,
       1576, 1560, 1502, 1554, 1572, 1564, 1557, 1485, 1482, 1481, 1500,
       1578, 1493, 1556, 1569])

In [73]:
# Tenemos valores en donde los tickets son negativos, por eso se eliminan
data_cleaned = data_cleaned[data_cleaned['ticket_use'] >= 0]

## Aportaciones a nuestra base de datos

In [74]:
# Creamos un id_customer para poder relacionar los tickets con una persona
np.random.seed(42)
data_cleaned['id_customer'] =  np.random.choice(range(1, 20001), size=len(data_cleaned), replace=True)

In [75]:
# Cada cinema_code tendrá un valor especifico para hacer más sencillo las tablas relacionales
data_cleaned['id_cinema'] = pd.factorize(data_cleaned['cinema_code'])[0] + 1

In [76]:
# Cada film_code tendrá un valor especifico para hacer más sencillo las tablas relacionales
data_cleaned['id_film'] = pd.factorize(data_cleaned['film_code'])[0] + 1

In [77]:
data_cleaned

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day,id_customer,id_cinema,id_film
0,1492,304,3900.0,26,0,4,0.04,150.0,26,610.0,2018-05-05,5,2,5,15796,1,1
1,1492,352,3360.0,42,0,5,0.08,80.0,42,520.0,2018-05-05,5,2,5,861,2,1
2,1492,489,2560.0,32,0,4,0.20,80.0,32,160.0,2018-05-05,5,2,5,5391,3,1
3,1492,429,1200.0,12,0,1,0.11,100.0,12,109.0,2018-05-05,5,2,5,11965,4,1
4,1492,524,1200.0,15,0,3,0.17,80.0,15,90.0,2018-05-05,5,2,5,11285,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142519,1569,495,1320.0,22,0,2,0.04,60.0,22,570.0,2018-11-04,11,4,4,14828,154,48
142520,1569,474,1200.0,15,0,1,0.65,80.0,15,23.0,2018-11-04,11,4,4,15247,28,48
142521,1569,524,1060.0,8,0,3,0.09,132.5,8,87.0,2018-11-04,11,4,4,12539,5,48
142522,1569,529,600.0,5,0,2,0.05,120.0,5,100.0,2018-11-04,11,4,4,7655,12,48
142523,1569,486,250.0,5,0,1,0.02,50.0,5,279.0,2018-11-04,11,4,4,5180,61,48

In [79]:
data_cleaned['people_entered'] = (data_cleaned['occu_perc'] * data_cleaned['capacity']).round()

In [80]:
data_cleaned['people_not_enteredd'] = (data_cleaned['capacity'] - data_cleaned['people_entered']).round()

In [81]:
data_cleaned['not_occu_perc'] = data_cleaned['occu_perc'].apply(lambda x: 1-x)

In [82]:
data_cleaned.head()

,film_code,cinema_code,total_sales,tickets_sold,tickets_out,show_time,occu_perc,ticket_price,ticket_use,capacity,date,month,quarter,day,id_customer,id_cinema,id_film,people_entered,people_not_enteredd,not_occu_perc
0,1492,304,3900.0,26,0,4,0.04,150.0,26,610.0,2018-05-05,5,2,5,15796,1,1,24.0,586.0,0.96
1,1492,352,3360.0,42,0,5,0.08,80.0,42,520.0,2018-05-05,5,2,5,861,2,1,42.0,478.0,0.92
2,1492,489,2560.0,32,0,4,0.20,80.0,32,160.0,2018-05-05,5,2,5,5391,3,1,32.0,128.0,0.80
3,1492,429,1200.0,12,0,1,0.11,100.0,12,109.0,2018-05-05,5,2,5,11965,4,1,12.0,97.0,0.89
4,1492,524,1200.0,15,0,3,0.17,80.0,15,90.0,2018-05-05,5,2,5,11285,5,1,15.0,75.0,0.83

In [83]:
# Exportamnos nuestra base de datos para usar en POSTGRESQL y relacionarla con las demás tablas
import pandas as pd
from sqlalchemy import create_engine

# Conexión a PostgreSQL
engine = create_engine('postgresql+psycopg2://postgres:1982@localhost:5432/CInema_project')

# Guardar en PostgreSQL
data_cleaned.to_sql('tickets', engine, if_exists='replace', index=False)
print("Datos cargados a PostgreSQL exitosamente.")

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (::1), port 5432 failed: Cannot assign requested address
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
len(np.random.randint(1,25,len(data_cleaned)))

142295